@{
    ViewData["Title"] = "Embroidery Shop - Main";
}

<div class="text-options-center">
    <ul class="navbar-nav">
        <li class="nav-item" >
            <a href="/Product/Index" target="_blank"><img src="~/images/icons8-shirt-100.png" width="100" height="100" alt="Products"/></a>
        </li>
        <li>
            <label for="html">PRODUCTS</label><br>
        </li>
        <li class="nav-item">
            <a href="/Product/Orders" target="_blank"><img src="~/images/icons8-shipping-100.png" width="100" height="100" alt="Orders" /></a>
        </li>
        <li>
            <label for="html">ORDERS</label><br>
        </li>
    </ul>
</div>
