body {
	margin-bottom: 60px;
	background-color: lightblue;
	color: black;
	font-family: Roboto;
}

.nav-item-box {
	background-color: white;
	width: 50px;
	width: 50px;
	
	transition: transform 0.5s ease-in-out;
}

.nav-link text-centered{
	text-align:center;
}

.nav-item {
	display: inline-block;
	list-style: none;
	margin-top: 4%;

}

.navbar-nav{
	align-items:center;
}

table{
	margin:4%;
	width:46%;
}