body {
	margin-bottom: 60px;
	background-color: lightblue;
	color: black;
	font-family: Roboto;
}

.nav-item-box {
	background-color: white;
	width: 50px;
	width: 50px;
}

.nav-link text-centered{
	text-align:center;
}

.nav-item {
	display: inline-block;
	list-style: none;
	margin-top: 4%;

}

.navbar-nav{
	align-items:center;
}

table {
	width: 100%;
}

.outline {
	border-top: solid 2px;
	border-color: black;
	margin: 5px;
}

th.hidden {
	visibility:hidden;
	border:0;
}

.container {
	
}

.gradient {
	background: linear-gradient( 
	to right, 
	#ff9e2c 0%, 
	#ff9e2c 50%, 
	#b6701e 50%, 
	#b6701e 100% );
}

/* Pattern styles */
.left-half {
	float: left;
	width: 20%;
}

.center {
	float:left;
	width:10%;
}

.right-half {
	float: left;
	width: 70%;
}

.designImage {
	height: auto;
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

th {
	color:dodgerblue;
	margin-bottom: 4px;
}

table.shadow {
	box-shadow: 5px 10px black;
}
